<!DOCTYPE html>
<html>
<head>
        <meta charset='UTF-8' />
        <link href='../css/bootstrap.min.css' rel='stylesheet'>
        <link href='../css/bootstrap-theme.min.css' rel='stylesheet'>
        <link href='../css/mystyles.css' rel='stylesheet'>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
        <script src='../js/bootstrap.min.js'></script>
        <script src='../js/reloj.js'></script>
        <title>App-tracking-twig</title>
</head>    
<body>
    
<div class="container-fluid">
    <script type='text/javascript'>
        if (typeof navigator.geolocation == 'object'){
            navigator.geolocation.getCurrentPosition(mostrar_ubicacion);
        }
        function mostrar_ubicacion(p){
            var latti = p.coords.latitude;
            var longi = p.coords.longitude;
            //var titulo = 'prueba32';
            //alert(latti+' , '+longi);
            //document.getElementById('formulario').action='index.php?action=login&titulo='+titulo+'&lat='+latti+'&long='+longi;
            document.getElementById('formulario').action='index.php?action=login&lat='+latti+'&long='+longi;
        }
    </script>
        <!--<form action='index.php?action=login' method='POST' name='formulario_login'>-->
    <form id='formulario' action='controller/controller.php' method='POST' name='formulario_login'>
        <table>
        <tr>
        <td>Usuario: </td><td><input type='text' name='usuario'><td>
        </tr>
        <tr>
        <td>Contraseña: </td><td><input type='password' name='pass'></td> 
        </tr>
        <tr>
        <td><input type='submit' name='login' value='Entrar'></td>
        </tr>
        </table>
    </form>
</div>
<br/><br/><br/>
<div class="container-fluid">
    <form action='controller/controller.php' method='POST' name='formulario_register'>
            <table bgcolor='lightblue'>
            <tr>
                <td>Usuario: </td><td><input type='text' name='usuario'></td>
            </tr>
            <tr>
                <td>Contraseña: </td><td><input type='password' name='pass'><td>
            </tr>
            <tr>
                <td>Repita la contraseña </td><td><input type='password' name='pass2'><td>
            </tr>
            <tr>
                <td><input type='submit' name='register' value='Registrar'></td>
            </tr>
            </table>
    </form>
</div>
</body>
</html>